{% extends 'receipts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Receipts</h1>
<div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Date Receipt</th>
					<th scope="col">Vendor Name</th>
					<th scope="col">Total Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for receipt in receipt_page %}
				<tr>
					<td>{{ receipt.name }}</td>
					<td>{{ receipt.date_receipt }}</td>
					<td>{{ receipt.vendor_name }}</td>
					<td>{{ receipt.amount_total }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
	<hr/>

	{% if receipt_page.has_previous %}
		<a href="?page=1">&laquo First</a>
		<a href="?page={{ receipt_page.previous_page_number }}">Previous</a>
	{% endif %}

	Page {{ receipt_page.number }} of {{ receipt_page.paginator.num_pages }}

	{% if receipt_page.has_next %}
		<a href="?page={{ receipt_page.next_page_number }}">next</a>
		<a href="?page={{ receipt_page.paginator.num_pages }}">Last &raquo </a>
	{% endif %}

</div>
{% else %}
	Please <a href="{% url 'login' %}">login</a> to view this page.
{% endif %}
{% endblock %}
