{% extends 'receipts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Add Receipt</h1>
<div class="row">
	<div class="col">
	    <form action="/receipt/add" method="post">
	        {% csrf_token %}
			{{ form.as_p }}
			<div class="d-grid">
			    <input type="submit" value="Submit" class="btn btn-primary" />
			</div>
	    </form>
	</div>
	{% if receiptFileS3Url %}
	<div class="col">
		<img src={{ receiptFileS3Url }} width="600px" />
	</div>
	{% endif %}
</div>
{% else %}
	Please <a href="{% url 'login' %}">login</a> to view this page.
{% endif %}
{% endblock %}
